<footer>
    <div class="fot-content">
        <div class="logo-fot">
            <img src="/images/fotos/logo_deitado-removebg-preview.png" />
        </div>
        <div class="medias-fot">
            <a><img src="/images/fotos/image-removebg-preview (8).png" /></a>
            <a><img src="/images/fotos/image-removebg-preview (9).png" /></a>
            <a><img src="/images/fotos/image-removebg-preview (7).png" /></a>
        </div>
        <div class="botao-fot">
            <button>Sobre nós</button>
        </div>
        <div class="fot-email">
            <h4>E-mail:</h4>
            <ul class="infos-fot">
                <li><a href="#">Valente@gmail.com</a></li>
                <li><a href="#">Central de atendimento</a></li>
                <li><a href="#">(11)0000-0000</a></li>
            </ul>
        </div>
    </div>
</footer>