<header>
    <nav>
        <a href="/home-admin"><img class="logo" src="/images/fotos/logo_deitado-removebg-preview.png" /></a>
        <button class="menu" data-menu>&#9776;</button>
    </nav>
    <nav class="menu-nav">
        <div class="menu-mobile-container" data-menu-mobile-container>
            <ul class="menu-mobile">
                <li><a href="/home-admin">Home</a></li>
                <li><a href="/profissionais-admin">Profissionais</a></li>
                <li><a href="/rodas-de-conversa-admin">Rodas de conversas</a></li>
                <li><a href="/sair">Sair</a></li>
            </ul>
        </div>
    </nav>
</header>