<header>
    <nav>
        <a href="/"><img class="logo" src="/images/fotos/logo_deitado-removebg-preview.png" /></a>
        <button class="menu">&#9776;</button>
        <ul class="menu-mobile">
            <li><a href="/rodas-de-conversa">Rodas de conversas</a></li>
            <li><a href="/perfil">Meu perfil</a></li>
            <li><a href="/login">Login</a></li>
            <li>
                <a href="/cadastro">Cadastre-se</a>
            </li>
        </ul>
    </nav>
</header>