<header>
    <nav>
        <a href="/"><img class="logo" src="/images/fotos/logo_deitado-removebg-preview.png" /></a>
        <button class="menu">&#9776;</button>
        <ul class="menu-mobile">
            <li><a href="/rodas-de-conversa">Rodas de conversas</a></li>
            <li><a href="/perfil">Meu perfil</a></li>
            <div class="usu" style="display: 
            block;">
            <li><a href="/login">Login</a></li>
            <li>
                <a href="/cadastro">Cadastre-se</a>
            </li>
        </div>
        </ul>
    </nav>
</header>
<script>
    const { PrismaClient } = require("@prisma/client")

    // Função para buscar o valor de usuario.ativo no banco de dados
    async function buscarAtivoDoUsuario() {
        try {
            // Substitua 'idDoUsuario' pelo ID do usuário específico que você deseja consultar
            const usuario = await prisma.usuario.findUnique({
                where: {
                    id: userId
                }
            });

            // Verifique o valor de usuario.ativo
            if (usuario.ativo === 1) {
                // Atualize o estilo do elemento HTML para 'block'
                document.getElementById("usu").style.display = "none";
            } 
        } catch (error) {
            console.error("Erro na consulta ao banco de dados: " + error);
        }
    }
    buscarAtivoDoUsuario();
</script>
