<header>
    <nav>
        <a href="/"><img class="logo" src="/images/fotos/logo_deitado-removebg-preview.png" /></a>
        <button class="menu" data-menu>&#9776;</button>
    </nav>
    <nav class="menu-nav">
        <div class="menu-mobile-container" data-menu-mobile-container>
            <ul class="menu-mobile">
                <li><a href="/rodas-de-conversa">Rodas de conversas</a></li>
                <% if (data.usuarioLogado) { %>
                    <li><a href="/sair">Sair</a></li>
                <% } %>
                <% if (data.tipoUsuario === "user") { %>
                    <li><a href="/perfil">Meu perfil</a></li>
                <% } %>
                <% if (data.tipoUsuario === "profissional") { %>
                    <li><a href="/perfil-profissional">Meu perfil</a></li>
                <% } %>

                <% if (!data.usuarioLogado) { %>
                <li><a href="/login">Login</a></li>
                <% } %>
                <% if (!data.usuarioLogado) { %>
                <li><a href="/cadastro">Cadastre-se</a></li>
                <% } %>

            </ul>
        </div>
    </nav>
</header>