<header>
    <nav>
        <img class="logo" src="/images/fotos/logo_deitado-removebg-preview.png" />
        <button class="menu">&#9776;</button>
        <ul class="menu-mobile">
            <li><a href="/rodas-de-conversa">Rodas de conversas</a></li>
            <li><a href="/profissionais">Nossos profissionais</a></li>
            <li><a href="/login">Login</a></li>
            <li>
                <a>Modo Anônimo <img class="" src="/images/fotos/anonimo.png" /></a>
            </li>
        </ul>
    </nav>
</header>