.alternative {
	margin-top: 20px;
	margin-bottom: 15px;
}
.alternative span {
	font-weight: 400;
	color: black;
	position: relative;
}
.alternative span::before {
	position: absolute;
	content: "";
	height: 1px;
	bottom: 50%;
	width: 100px;
	background: black;
	right: 50px;
}
.alternative span::after {
	left: 50px;
	position: absolute;
	content: "";
	height: 1px;
	bottom: 50%;
	width: 100px;
	background: black;
}

#agendamento h1 {
	text-align: center;
	font-size: 2rem;
	margin: 30px 0;
}

#agendamento-container {
	max-width: 600px;
	margin-inline: auto;
	background-color: #fff8e9;
}

#agendamento-header {
	background-color: #f7931e;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#agendamento-header p {
	font-weight: bold;
	font-size: 1.3rem;
}

#agendamento-body {
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 20px 60px;
}

#agendamento-body form {
	display: flex;
	flex-direction: column;
    align-items: center;
    width: 100%;
}

#agendamento-body form input {
    width: 100%;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
}

#agendamento-body form #horario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#agendamento-body form #horario h2 {
    color: gray;
    font-size: 1.3rem;
    margin: 10px 0;
}

#agendamento-body form #horario select {
    width: 100%;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    padding-inline-start: 10px;
}

#agendamento-body form #horario button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #f7931e;
    border: none;
    color: white;
    margin-top: 10px;
    font-size: 1rem;
}

#whatsapp {
	background-color: #f7931e;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
}
