
.main-perfil,
.main-perfil .perfil-body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
.main-perfil .perfil-usuario {
	width: 100%;
	display: flex;
	justify-content: center;
}
.main-perfil .perfil-container {
	border-radius: 0 0 20px 20px;
	display: block;
	position: relative;
	width: 90%;
	background-color: #f7931e;
	height: 10rem;
	margin-bottom: 1.2rem;
}
.main-perfil .perfil-avatar {
	display: flex;
	width: 130px;
	height: 130px;
	align-items: center;
	justify-content: center;
	border: 5px solid #f8f2e9;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	bottom: -40px;
	left: calc(50% - 65px);
	z-index: 1;
	overflow: hidden;
}
.main-perfil .perfil-avatar img {
	width: 100%;
    height: 100%;
	position: relative;
}
.main-perfil .perfil-body {
	width: 90%;
}
.main-perfil .perfil-body .nome {
	display: block;
	width: 100%;
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}
.main-perfil .perfil-body .texto-bio {
	font-weight: 200;
	font-size: 15px;
	margin-bottom: 10px;
}
.main-perfil .perfil-bio {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1.5rem 2rem;
	background-color: #fff;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	text-align: center;
}
.main-perfil .perfil-info {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;
	background-color: #f8f2e9;
	width: 100%;
	border-radius: 5px;
}
.main-perfil .dados {
	width: 50%;
	list-style: none;
}
.main-perfil .dados li {
	padding: 10px 5px;
}
.main-perfil .dados li > .fa-regular {
	margin-right: 1rem;
	vertical-align: middle;
	font-size: 1rem;
}
.botao-editar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.botao-editar button {
	cursor: pointer;
	width: 150px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 30px;
	color: white;
	border: none;
	background-color: #f7931e;
}
.botao-editar button:hover {
	opacity: 0.8;
}

#agenda {
    width: 100%;
    margin-top: 30px;
}

#agenda h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

#agenda-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(100%, 350px));
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

#agenda-container .consulta {
    min-width: 100%;
    background-color: #f8f2e9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
    gap: 5px;
}

#agenda-container .consulta h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

#agenda-container .consulta .cancelar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FF6961;
    border-radius: 15px;
    padding: 5px 0;
    text-decoration: none;
    color: white;
    margin-top: 15px;
}

#salas {
    margin-top: 30px;
}

#salas h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

#salas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(100%, 400px));
    gap: 40px;
    justify-content: center;
}

#salas-container .sala {
    background-color: #f8f2e9;
    padding: 15px;
    border-radius: 15px;
}

#salas-container .sala h2 {
    font-size: 1.3rem;
}

#salas-container .sala h3 {
    font-size: 1rem;
    font-weight: medium;
}

#salas-container .sala .sala-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

#salas-container .sala a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: #f7931e;
    height: 40px;
    margin-top: 20px;
}