* {
	margin: 0;
	padding: 0;
    color: inherit;

	font-family: "Poppins", "Arial", sans-serif;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

main {
    padding-inline: 20px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

img {
    object-fit: cover !important;
}

input {
    padding-inline-start: 10px;
}

header {
    display: flex;
    align-items: center;
    background-color: #f8f2e9;
    padding: 5px 20px;
}

header .logo {
    width: 200px;
}

nav {
    display: flex;
    align-items: center;
}

nav .menu {
    display: none;
}

.menu-nav {
    margin-left: auto;
    margin-right: 20px;
}

.menu-nav .menu-mobile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-nav .menu-mobile li a {
    padding: 5px;
}

.menu-nav .menu-mobile li:hover {
    color: #f7931e;
}

.menu-nav .menu-mobile li:last-child {
    border-radius: 15px;
    background-color: #f7931e;
    color: white;
}

.menu-nav .menu-mobile li:last-child a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
}

.menu-nav .menu-mobile li:last-child:hover {
    background-color: white;
    color: #f7931e;
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
    }

    nav {
        width: 100%;
        justify-content: space-between;
    }

    nav .menu {
        display: block;
        border: none;
        background: none;
        font-size: 2.5rem;
    }

    .menu-mobile-container {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 350ms ease;
    }

    .menu-mobile-container.ativo {
        grid-template-rows: 1fr;
    }

    .menu-nav {
        justify-content: center;
    }

    .menu-mobile {
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    .menu-mobile li:last-child {
        margin-bottom: 30px;
    }
}

footer {
	margin-top: 20px;
	background-color: #f8f2e9;
}

.logo-fot {
	padding-top: 20px;
	width: 200px;
}
.logo-fot img {
	width: 100%;
}
.fot-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	border-top: solid 2px white;
}
.medias-fot {
	font-size: 32px;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	gap: 38px;
}
.medias-fot a {
	width: 30px;
	height: 30px;
}

.medias-fot a img {
	width: 100%;
	height: 100%;
}
.botao-fot {
	padding: 20px;
}

.button-fot button {
	padding: 10px 14px;
	border: none;
	font-size: 16px;
	color: white;
	background-color: #c1272d;
	margin-top: 30px;
	margin-bottom: 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3 ease;
}
.botao-fot:hover {
	opacity: 0.9;
}
.fot-email {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	text-align: center;
}
.infos-fot {
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.infos-fot a {
	font-size: 13px;
	text-align: center;
}

.sobre-nos::backdrop {
	background-color: rgb(0 0 0 / 0.6);
}

.sobre-nos {
	padding: 25px;
	flex-direction: column;
	margin: auto;

	align-items: center;
	justify-content: center;
	width: 80%;
	box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
	border: none;
	border-radius: 10px;
	background-color: #f8f2e9;
}
.sobre-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sobre-nos .fechar-botao {
	margin-top: 20px;

	width: 100px;
}
.sobre-nos h1,
p {
	text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}