<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%- data.page %></title>
		<link rel="stylesheet" href="/css/doacao.css" />
        <%- include("../templates/head.ejs") %>
	</head>
	<body>
        <%- include("../templates/header.ejs") %>
		<main>
			<div class="logo">
				<img src="/images/fotos/logo_deitado-removebg-preview.png" />
			</div>

			<h2>Suas informações</h2>

			<form action="">
				<label for="name">
					<span>Nome completo</span>
					<input type="text" id="name" name="name" required title="Insira o nome completo!"/>
				</label>
				<label for="email">
					<span>E-mail</span>
					<input type="email" id="email" name="email" required title="Insira o email!" />
				</label>
				<label for="CPF">
					<span>CPF</span>
					<input type="number" id="number" name="CPF" required title="Informe o CPF!" />
				</label>
				<label for="tel">
					<span>Telefone</span>
					<input type="tel" id="tel" name="tel" required title="Informe o telefone!"/>
				</label>

				<h2>Pagamento</h2>

				<div class="cartoes">
					<span>Cartões aceitos</span>
					<img src="/images/logos/card_img.png" alt="" />
				</div>

				<label for="numbe-rcard">
					<span>Número do cartão</span>
					<input type="number" id="numbercard" maxlength="16" name="name"  required title="Informe o número do cartão!"/>
				</label>
				<label for="valor">
					<span>Nome do Titular</span>
					<input type="text" id="Titular" name="name" required title="Informe o títular do cartão!" />
				</label>
				<label for="valor">
					<span>Validade</span>
					<input type="number" id="Validade" name="name" required title="Informe a validade do cartão" />
				</label>
				<label for="valor">
					<span>CVV</span>
					<input type="number" id="Cvv" maxlength="4" name="name" required title="Informe o CVV" />
				</label>
				<label for="valor">
					<span>Valor da contribuição</span>
					<input type="number" id="contribuição" name="name" required title="Informe o valor da contribuição" />
				</label>

				<input type="submit" value="Doar" />
			</form>
		</main>
        <%- include("../templates/footer.ejs") %>
	</body>
	<script type="text/javascript">
		/* Máscaras ER */
		function mascara(o,f){
			v_obj=o
			v_fun=f
			setTimeout("execmascara()",1)
		}
		function execmascara(){
			v_obj.value=v_fun(v_obj.value)
		}
		function mcc(v){
			v=v.replace(/\D/g,"");
			v=v.replace(/^(\d{4})(\d)/g,"$1 $2");
			v=v.replace(/^(\d{4})\s(\d{4})(\d)/g,"$1 $2 $3");
			v=v.replace(/^(\d{4})\s(\d{4})\s(\d{4})(\d)/g,"$1 $2 $3 $4");
			return v;
		}
		function id( el ){
		  return document.getElementById( el );
		}
		window.onload = function(){
		  id('Validade').onkeypress = function(){
			mascara( this, mcc );
		  }
		}
		</script>
		
</html>
