<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%- data.page %></title>

        <%- include("../templates/head.ejs") %>
	</head>
	<body>
		<%- include("../templates/header.ejs") %>
		<main>
			<section class="doar">
				<div class="overlay-doar"></div>
				<div class="doar-content">
					<div class="container-doar">
						<h1>Somos um site voluntário</h1>
						<h4><strong>Estamos aqui pra ajudar todos  vocês,<br>o que acha de ajudar a gente a te ajudar?</strong> </h4>
					<a href="/doacao"> <button>Doe já</button></a>
				</div>
				</div>
			</section>
            

			<h2 class="pro-titulo">Profissionais em destaque</h2>
     <section class="slider">
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
                            <img src="/images/fotos/image-removebg-preview (16).png" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="media-icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-twitter"></i>
                         </div>
                        <h3 class="nome">Angela</h3>
                        <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus illum officia, rem ea itaque vero quas voluptates reiciendis quaerat ad eos ut eum, nemo eius accusamus autem inventore quam.</p>
                        <button class="botao-card">Agendar</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
							<img src="/images/fotos/image-removebg-preview (16).png" alt="" class="card-img">                        </div>
                    </div>

                    <div class="card-content"> 
                        <div class="media-icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-twitter"></i>
                         </div>
                        <h3 class="nome">Angela</h3>
                        <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus illum officia, rem ea itaque vero quas voluptates reiciendis quaerat ad eos ut eum, nemo eius accusamus autem inventore quam.</p>
                        <button class="botao-card">Agendar</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
							<img src="/images/fotos/image-removebg-preview (16).png" alt="" class="card-img">                        </div>
                    </div>

                    <div class="card-content">
                        <div class="media-icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-twitter"></i>
                         </div>
                        <h3 class="nome">Angela</h3>
                        <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus illum officia, rem ea itaque vero quas voluptates reiciendis quaerat ad eos ut eum, nemo eius accusamus autem inventore quam.</p>
                        <button class="botao-card">Agendar</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
							<img src="/images/fotos/image-removebg-preview (16).png" alt="" class="card-img">                        </div>
                    </div>

                    <div class="card-content">
                        <div class="media-icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-twitter"></i>
                         </div>
                        <h3 class="nome">Angela</h3>
                        <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus illum officia, rem ea itaque vero quas voluptates reiciendis quaerat ad eos ut eum, nemo eius accusamus autem inventore quam.</p>
                        <button class="botao-card">Agendar</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
							<img src="/images/fotos/image-removebg-preview (16).png" alt="" class="card-img">                        </div>
                    </div>

                    <div class="card-content">
                        <div class="media-icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-twitter"></i>
                         </div>
                        <h3 class="nome">Angela</h3>
                        <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus illum officia, rem ea itaque vero quas voluptates reiciendis quaerat ad eos ut eum, nemo eius accusamus autem inventore quam.</p>
                        <button class="botao-card">Agendar</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
							<img src="/images/fotos/image-removebg-preview (16).png" alt="" class="card-img">                        </div>
                    </div>

                    <div class="card-content">
                        <div class="media-icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-twitter"></i>
                         </div>
                        <h3 class="nome">Angela</h3>
                        <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus illum officia, rem ea itaque vero quas voluptates reiciendis quaerat ad eos ut eum, nemo eius accusamus autem inventore quam.</p>
                        <button class="botao-card">Agendar</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
							<img src="/images/fotos/image-removebg-preview (16).png" alt="" class="card-img">                        </div>
                    </div>

                    <div class="card-content">
                        <div class="media-icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-twitter"></i>
                         </div>
                        <h3 class="nome">Angela</h3>
                        <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus illum officia, rem ea itaque vero quas voluptates reiciendis quaerat ad eos ut eum, nemo eius accusamus autem inventore quam.</p>
                        <button class="botao-card">Agendar</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
							<img src="/images/fotos/image-removebg-preview (16).png" alt="" class="card-img">                        </div>
                    </div>

                    <div class="card-content">
                        <div class="media-icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-twitter"></i>
                         </div>
                        <h3 class="nome">Angela</h3>
                        <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus illum officia, rem ea itaque vero quas voluptates reiciendis quaerat ad eos ut eum, nemo eius accusamus autem inventore quam.</p>
                        <button class="botao-card">Agendar</button>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay"></span>
                        
                        <div class="card-image">
							<img src="/images/fotos/image-removebg-preview (16).png" alt="" class="card-img">                        </div>
                    </div>

                    <div class="card-content">
                        <div class="media-icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-twitter"></i>
                         </div>
                        <h3 class="nome">Angela</h3>
                        <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus illum officia, rem ea itaque vero quas voluptates reiciendis quaerat ad eos ut eum, nemo eius accusamus autem inventore quam.</p>
                        <button class="botao-card">Agendar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>
</section>

<div class="botao-ver-pro">
    <a href="/profissionais"><button>Outros profissionais</button></a>
</div>

    

    
    
    <h2 class="roda-conversa-titulo">Rodas de conversas</h2>
    
    <div class="container-roda">
    
    <button class="card-roda" href=""><div class="card1">
        <div class="tema">
            <h1>Alcoolismo</h1>
        </div>
    </div></button>

    <button class="card-roda"><div class="card2">
        <div class="tema">
            <h1>Ansiedade</h1>
        </div>
    </div></button>

    <button class="card-roda"><div class="card3">
        <div class="tema">
            <h1>Depressão</h1>
        </div>
    </div></button>

    
    </div>

    <div class="botao-ver-roda">
        <a href="/rodas-de-conversa"><button>Ver mais</button></a>
    </div>

	<h2 class="desabafos">Desabafos</h2>
    <div class="desabafar">
        <div class="user-avatar"><img src="/images/fotos/image-removebg-preview (1).png"></div>
            <input class="desabafar-text" type="text" placeholder="Desabafe..."></input>
            
        </div>
        <div class="posts">
        
        <div class="post">
            
           <div class="post-user-info">
              <div class="user-avatar"><img src="/images/fotos/image-removebg-preview (1).png"></div>
                <div class="user1">
                    <h4>Simone de Oliveira</h4>
                <span class="hora-post">- 20:24</span>
            </div>
                </div> 
                <div class="post-content">
                
                <p class="post-text">Sempre procurei alguma plataforma q pudesse me ajudar a buscar por apoio psicológico, pois infelizmente não tenho condições financeiras de arcar com os valores das consultas, infelizmente fui diagnosticado a 2 meses com Depressão severa, e graças a vocês consegui buscar por apoio, me sinto bem melhor, mesmo não tendo muita condição fiz minha doação, para ajudar a manter o site e agradeço muito a vocês.</p>
            </div>
            <div class="post-icons">
                <div class="like">
                    <button id="curtido" class="curtido" onclick="toggleLike()"><i class="fa-solid fa-heart"></i></button>
                </div>
                
         </div>
        </div>
    </div>
     
    
    <div class="posts">
        
        <div class="post">
            
           <div class="post-user-info">
              <div class="user-avatar"><img src="/images/fotos/image-removebg-preview (1).png"></div>
                <div class="user1">
                    <h4>Willian Carvalho</h4>
                <span class="hora-post">- 12:07</span>
            </div>
                </div> 
                <div class="post-content">
                
                <p class="post-text">Realizei uma consulta com a doutora Elizângela e me sinto bem melhor, além de ser muito simpática ela se mostrou muito profissional, me ajudou muito!!
					Já fiz minha doação😁</p>
            </div>
            <div class="post-icons">
                <div class="like">
                    <button id="curtido" class="curtido" onclick="toggleLike()"><i class="fa-solid fa-heart"></i></button>
                </div>
                
         </div>
        </div>
    </div>
		</main>
		<%- include("../templates/footer.ejs") %>
	</body>
</html>
