<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCA</title>
    <link rel="stylesheet" href="/css/perfil.css" >  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
</head>
<body>
    <header>
        <%- include("../templates/header.ejs") %>
    </header>

    <main class="main-perfil">
        <div class="perfil-container">
        <div class="perfil-usuario">
            <div class="perfil-avatar">
                <img src="/images/fotos/image-removebg-preview (13).png" alt="imagem-avatar">
            </div>
        </div>
    </div>
        <div class="perfil-body">
            <div class="perfil-bio">
                <h3 class="nome"><%- data.usuario.nome %></h3>
                <p class="texto-bio">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus atque cum et doloribus asperiores nobis sapiente libero quis officia dolorum cupiditate a, aspernatur esse exercitationem deserunt dolores magni? Iusto, ducimus.</p>
            <div class="perfil-info">
                <div class="dados">
                    <li><i class="fa-regular fa-calendar-days" style="color: #000000;"></i>data de entrada:yy16 de Dezembro de 2005</li>
                    <li><i class="fa-regular fa-calendar-days" style="color: #000000;"></i>Email:</li>
                </div>
                <div class="dados">
                    <li><i class="fa-regular fa-calendar-days" style="color: #000000;"></i>16 de Dezembro de 2005</li>
                    <li><i class="fa-regular fa-calendar-days" style="color: #000000;"></i>16 de Dezembro de 2005</li>
                </div>
            
                   <!-- <a href="/editar-perfil"><button type="submit">Deletar Usuário</button></a>  -->
                
               
            </div>
        </div>
            
        </div>

    </main>
    <footer>
        <%- include("../templates/footer.ejs") %>
    </footer>

</body>
</html>