<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCA</title>
    <link rel="stylesheet" href="/css/perfil.css" >  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
</head>
<body>
    <header>
        <nav>
            <a href=""><img class="logo" src="/images/fotos/logo_deitado-removebg-preview.png"></a>
                <button class="menu">&#9776;</button>
            <ul class="menu-mobile">
                <li><a href="rodadecnvs.html">Rodas de conversas</a></li>
                <li><a href="profissionais.html">Nossos profissionais</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a>Modo Anônimo <img class="" src="imgs/anonimo.png"></a></li>
            </ul>
        </nav>
    </header>
    <main class="main-perfil">
        <div class="perfil-container">
        <div class="perfil-usuario">
            <div class="perfil-avatar">
                <img src="/images/fotos/image-removebg-preview (13).png" alt="imagem-avatar">
            </div>
        </div>
    </div>
        <div class="perfil-body">
            <div class="perfil-bio">
                <h3 class="nome">Nome do usuario</h3>
                <p class="texto-bio">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus atque cum et doloribus asperiores nobis sapiente libero quis officia dolorum cupiditate a, aspernatur esse exercitationem deserunt dolores magni? Iusto, ducimus.</p>
            <div class="perfil-info">
                <div class="dados">
                    <li><i class="fa-regular fa-calendar-days" style="color: #000000;"></i>16 de Dezembro de 2005</li>
                    <li><i class="fa-regular fa-calendar-days" style="color: #000000;"></i>16 de Dezembro de 2005</li>
                </div>
                <div class="dados">
                    <li><i class="fa-regular fa-calendar-days" style="color: #000000;"></i>16 de Dezembro de 2005</li>
                    <li><i class="fa-regular fa-calendar-days" style="color: #000000;"></i>16 de Dezembro de 2005</li>
                </div>
            </div>
        </div>
            
        </div>

    </main>

    <footer>
        <div class="fot-content">
            <div class="logo-fot">
                <img src="imgs/logo_deitado-removebg-preview.png">
            </div>
            <div class="medias-fot">
                <a><i class="fa-brands fa-facebook"></i></a>
                <a href="https://instagram.com/tcc_valente?igshid=NTc4MTIwNjQ2YQ=="><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                <a><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div class="button-fot">
                <button class="botao-fot">Sobre nós</button>
                 <dialog class="sobre-nos">
                    <div class="sobre-content">
                    <h1>Sobre nós</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati sunt doloremque culpa? Iure suscipit eum, eos possimus debitis provident dolorem quaerat blanditiis harum ut error magnam accusantium, impedit facere aut?</p>
                    <button class="fechar-botao">Ok</button>
                </div>
                </dialog>
                
            </div>
            <div class="fot-email">
                <h4>E-mail:</h4>
                <ul class="infos-fot">
                    <li><a href="#">Valente@gmail.com</a></li>
                    <li><a href="#">Central de atendimento</a></li>
                    <li><a href="#">(11)0000-0000</a></li>
                </ul>
            </div>        
        </div>
    </footer>