<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mais profissionais</title>
		<link rel="stylesheet" href="/css/profissionais.css" />
        <%- include("../templates/head.ejs") %>
	</head>
	<body>
        <%- include("../templates/header.ejs") %>
		<main>
			<div class="logo">
				<img src="/images/fotos/logo_deitado-removebg-preview.png" />
			</div>
			<h1>Nossos profissionais</h1>

			<div class="roda-conversa">
				<div class="roda-img1">
					<img class="roda-img" src="/images/fotos/D6Od1LwWwAAmv1i.jpg" />
					<button class="roda-botao">Agendar</button>
				</div>
				<div class="roda-content">
					<div class="roda-titulo">
						<h3>Luciano</h3>
					</div>
					<div class="roda-subtitulo">
						<h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident officia aliquid culpa atque quia nisi, aperiam dolores error nobis vel voluptatem unde impedit esse veritatis vitae, aut in itaque eligendi.</h5>
					</div>
				</div>
			</div>

			<div class="roda-conversa">
				<div class="roda-img1">
					<img class="roda-img" src="/images/fotos/D6Od1LwWwAAmv1i.jpg" />
					<button class="roda-botao">Agendar</button>
				</div>
				<div class="roda-content">
					<div class="roda-titulo">
						<h3>Luciano</h3>
					</div>
					<div class="roda-subtitulo">
						<h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident officia aliquid culpa atque quia nisi, aperiam dolores error nobis vel voluptatem unde impedit esse veritatis vitae, aut in itaque eligendi.</h5>
					</div>
				</div>
			</div>

			<div class="roda-conversa">
				<div class="roda-img1">
					<img class="roda-img" src="/images/fotos/D6Od1LwWwAAmv1i.jpg" />
					<button class="roda-botao">Agendar</button>
				</div>
				<div class="roda-content">
					<div class="roda-titulo">
						<h3>Luciano</h3>
					</div>
					<div class="roda-subtitulo">
						<h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident officia aliquid culpa atque quia nisi, aperiam dolores error nobis vel voluptatem unde impedit esse veritatis vitae, aut in itaque eligendi.</h5>
					</div>
				</div>
			</div>
		</main>
        <%- include("../templates/footer.ejs") %>
	</body>
</html>
