<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- data.page %></title>

    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/profissionais.css">
</head>

<body>

    <%- include("../templates/header.ejs") %>

    <main>
        <section id="profissionais">
            <h1>Profissionais</h1>

            <div id="profissionais-container">
                <div class="profissional">
                    <img src="/images/fotos/profissional.png" alt="Profissional">

                    <h2>Sandro Henrique de Lima</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sequi sunt numquam non quia soluta perspiciatis doloremque impedit, amet cupiditate adipisci! Perferendis error impedit labore culpa, delectus aperiam, ipsam provident perspiciatis nisi numquam odit! Excepturi, quos? Aliquam perferendis cupiditate eius, obcaecati optio, dignissimos, similique dolore magni vel delectus necessitatibus ad.</p>

                    <div class="social-media">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>

                        <a href="#">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>

                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                </div>

                <div class="profissional">
                    <img src="/images/fotos/profissional.png" alt="Profissional">

                    <h2>Sandro Henrique de Lima</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sequi sunt numquam non quia soluta perspiciatis doloremque impedit, amet cupiditate adipisci! Perferendis error impedit labore culpa, delectus aperiam, ipsam provident perspiciatis nisi numquam odit! Excepturi, quos? Aliquam perferendis cupiditate eius, obcaecati optio, dignissimos, similique dolore magni vel delectus necessitatibus ad.</p>

                    <div class="social-media">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>

                        <a href="#">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>

                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                </div>

                <div class="profissional">
                    <img src="/images/fotos/profissional.png" alt="Profissional">

                    <h2>Sandro Henrique de Lima</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sequi sunt numquam non quia soluta perspiciatis doloremque impedit, amet cupiditate adipisci! Perferendis error impedit labore culpa, delectus aperiam, ipsam provident perspiciatis nisi numquam odit! Excepturi, quos? Aliquam perferendis cupiditate eius, obcaecati optio, dignissimos, similique dolore magni vel delectus necessitatibus ad.</p>

                    <div class="social-media">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>

                        <a href="#">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>

                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                </div>

                <div class="profissional">
                    <img src="/images/fotos/profissional.png" alt="Profissional">

                    <h2>Sandro Henrique de Lima</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sequi sunt numquam non quia soluta perspiciatis doloremque impedit, amet cupiditate adipisci! Perferendis error impedit labore culpa, delectus aperiam, ipsam provident perspiciatis nisi numquam odit! Excepturi, quos? Aliquam perferendis cupiditate eius, obcaecati optio, dignissimos, similique dolore magni vel delectus necessitatibus ad.</p>

                    <div class="social-media">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>

                        <a href="#">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>

                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include("../templates/footer.ejs") %>


</body>
<script src="js/script.js"></script>

</html>