<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Roda de conversa</title>
		<link rel="stylesheet" href="/css/rodadecnvs.css" />
        <%- include("../templates/head.ejs") %>
	</head>
	<body>
        <%- include("../templates/header.ejs") %>
		<main>
			<div class="logo">
				<img src="/images/fotos/logo_deitado-removebg-preview.png" />
			</div>

			<div class="container">
				<div class="card1">
					<div class="tema">
						<h1>Alcoolismo</h1>
					</div>
				</div>

				<div class="card2">
					<div class="tema">
						<h1>Ansiedade</h1>
					</div>
				</div>

				<div class="card3">
					<div class="tema">
						<h1>Depressão</h1>
					</div>
				</div>

				<div class="card4">
					<div class="tema">
						<h1>Calvice é foda</h1>
					</div>
				</div>
			</div>
		</main>
        <%- include("../templates/footer.ejs") %>
	</body>
</html>
