<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- data.page %></title>

    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/sessao.css">
</head>

<body>
    <%- include("../templates/header.ejs") %>

    <main>
        <section id="sessao">
            <div id="header-laranja"></div>

            <div id="sessao-container">
                <h1>Nome da sala</h1>

                <p>Nome do profissional: </p>

                <p>Descrição da sala: </p>

                <div class="sessao-info">
                    <div>
                        <i class="fa-regular fa-calendar-days"></i>
                        <p>
                            Data: 08/12/2023 <br>
                            Horário: Das 13h às 15h
                        </p>
                    </div>

                    <div>
                        <i class="fa-solid fa-user"></i>
                        <p>6 de 12 pessoas</p>
                    </div>
                </div>

                <a href="/">Garantir vaga</a>
            </div>

            <a href="#">Ver perfil do profissional</a>
        </section>
    </main>

    <%- include("../templates/footer.ejs") %>
</body>

</html>